/* :root {
  --transition-1: all 0.3s ease-in-out;
  --transition-2: all 0.1s ease-in-out;
}

.github-corner {
  transition: var(--transition-1);
} */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.no_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  max-width: 280px;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  outline: none;
}

.info-triangle:hover .info-triangle-svg,
.github-corner:hover .github-triangle-svg {
  fill: #319b78;
}


.infobox {
  position: Fixed;
  font-family: Verdana, Sans-Serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms ease-in;
  pointer-events: None;
}

.show {
  opacity: 1;
  pointer-events: Auto;
}

.infobox>div {
  position: relative;
  margin: 30px;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  background: linear-gradient(#FFFFFF, #999999);
  cursor: Default;
}

.close-infobox-button {
  background-color: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: Absolute;
  right: -12px;
  text-align: Center;
  top: -10px;
  width: 24px;
  text-decoration: None;
  font-weight: Bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000000;
  cursor: pointer;
}

.close-infobox-button:hover {
  background-color: #00D9FF;
}